{% block content %}

  <p> Stack Ensemble Simple
  </p>

  <form method="post" action="/process" enctype="multipart/form-data">
    <select name="file_format">
      <option value="excel" selected="selected">Excel</option>
      <option value="csv">CSV</option>
    </select>
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  <p> Stack Ensemble First Email
  </p>
  <form method="post" action="/advanced" enctype="multipart/form-data">
    <select name="file_format">
      <option value="excel" selected="selected">Excel</option>
      <option value="csv">CSV</option>
    </select>
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  <p> Stack Ensemble Majority Voting
  </p>
  <form method="post" action="/majority_vote" enctype="multipart/form-data">
    <select name="file_format">
      <option value="excel" selected="selected">Excel</option>
      <option value="csv">CSV</option>
    </select>
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  <p> Deep Learning Simple
  </p>
  <form method="post" action="/deep_learning_simple" enctype="multipart/form-data">
    <select name="file_format">
      <option value="excel" selected="selected">Excel</option>
      <option value="csv">CSV</option>
    </select>
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  <p> Deep Learning First Email
  </p>
  <form method="post" action="/deep_learning_first_email" enctype="multipart/form-data">
    <select name="file_format">
      <option value="excel" selected="selected">Excel</option>
      <option value="csv">CSV</option>
    </select>
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  <p> Deep Learning Majority Vote
  </p>
  <form method="post" action="/deep_learning_majority_vote" enctype="multipart/form-data">
    <select name="file_format">
      <option value="excel" selected="selected">Excel</option>
      <option value="csv">CSV</option>
    </select>
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

{% endblock %}