{% block content %}
	
	<h2>Usage Instructions</h2>	
	<ul>
		<li>First clink on the choose file button and select a file containing testing data, and press upload button</li>
		<li>You can upload .xlsx and .csv files to make it work correctly</li>
		<li>Select file format from the dropdown menue given below</li>
		<li>Uploaded files must contain three columns named CHN_MESSAGE_MASKED and Ticket# in it</li>
		<li>After uploading the file please wait it will take 3, 4 minutes to process the file and make predictions on every record present in the file (This time may vary depending on the size of uploaded file)</li>
		<li>After processing we will give you the link using which you can download processed csv file containing an additional column named a_predictions, this column is our model predictions against emails</li>
		<li>Compare our predictions with hidden Category 1 Name column of your uploaded file and compute Accuracy1,1</li>
	</ul>
	<form method="post" action="/majority_vote" enctype="multipart/form-data">
		<select name="file_format">
			<option value="excel" selected="selected">Excel</option>
			<option value="csv">CSV</option>
		</select>
		<input type="file" name="myfile">
		<button type="submit">Upload</button>
	</form>

{% endblock %}